{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

	<h2>Dashboard</h2>
	
	<table class="table">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Profile Pic</th>
			<th scope="col">Name</th>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
			<th scope="col">Phone</th>
			<th scope="col">Languages</th>
			<th scope="col">Location</th>
			<th scope="col">Expertise</th>
			<th scope="col">Actions</th>
		</tr>
		</thead>
		<tbody>
			{% for lawyer in lawyers %}
			<tr>
				<th scope="row">{{ loop.index }}</th>
				<td>lawyer.profile_url</td>
				<td>{{ lawyer.name }}</td>
				<td>{{ lawyer.title }}</td>
				<td>{{ lawyer.description }}</td>
				<td>{{ lawyer.phone }}</td>
				<td>{{ lawyer.languages|join(', ') }}</td>
				<td>{{ lawyer.location }}</td>
				<td>{{ lawyer.expertise|join(', ') }}</td>
				<td>
					<form method="POST" action="/dashboard" class="d-flex justify-content-between">
						<button type="button" class="btn btn-success" name="submit_button" value="Edit {{ lawyer.email }}" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-edit"></i></button>
						<button type="submit" class="btn btn-danger" name="submit_button" value="Delete {{ lawyer.email }}"><i class="far fa-trash-alt"></i></button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Row</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="p-3 mb-5">
						<form method="POST">
							{{ form.hidden_tag() }}
					
							{{ form.name.label(class="form-label") }}
					
							{{ form.name(class="form-control") }}
							<br/>
					
							{{ form.title.label(class="form-label") }}
					
							{{ form.title(class="form-control") }}
							<br/>
					
							{{ form.description.label(class="form-label") }}
					
							{{ form.description(class="form-control") }}
							<br/>
					
							{{ form.phone.label(class="form-label") }}
					
							{{ form.phone(class="form-control") }}
							<br/>
							
							{{ form.languages.label(class="form-label") }}
					
							{{ form.languages(class="form-control") }}
							<br/>
					
							{{ form.location.label(class="form-label") }}
					
							{{ form.location(class="form-control") }}
							<br/>

							{{ form.expertise.label(class="form-label") }}
					
							{{ form.expertise(class="form-control") }}
							<br/>
					
						</form>
					</div>
				</div>
				<div class="modal-footer">
					{{ form.submit(class="btn btn-secondary") }}
				</div>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/globals.js')}}"></script>
{% endblock %}