{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

	<h2>Dashboard</h2>
	
	<table class="table">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Profile Pic</th>
			<th scope="col">Name</th>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
			<th scope="col">Phone</th>
			<th scope="col">Languages</th>
			<th scope="col">Location</th>
			<th scope="col">Expertise</th>
			<th scope="col">Actions</th>
		</tr>
		</thead>
		<tbody>
			{% for lawyer in lawyers %}
			<tr>
				<th scope="row">{{ loop.index }}</th>
				<td>lawyer.profile_url</td>
				<td>{{ lawyer.name }}</td>
				<td>{{ lawyer.title }}</td>
				<td>{{ lawyer.description }}</td>
				<td>{{ lawyer.phone }}</td>
				<td>{{ lawyer.languages|join(', ') }}</td>
				<td>{{ lawyer.location }}</td>
				<td>{{ lawyer.expertise|join(', ') }}</td>
				<td>
					<form method="POST" action="/dashboard" class="d-flex justify-content-between">
						<button type="submit" class="btn btn-success" name="submit_button" value="Edit {{ lawyer.email }}"><i class="fas fa-edit"></i></button>
						<button type="submit" class="btn btn-danger" name="submit_button" value="Delete {{ lawyer.email }}"><i class="far fa-trash-alt"></i></button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}